html { 
	height: 100% 
}

body {
    font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
    background-color: #FFFFFF;
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
}

.greeting{
	background-color: #39B1C6;
	color: white;
	padding: 0.5em;
	font-size: 20pt;
}

#map-canvas { 
	width: 100%;
	height: 80%; 
}

.msglist {
	width:260px;
	height:160px;	
	overflow-y:auto;
	background-color:#C3DAE3;	
}

#oldMsgList {
	display:none;
}
